.alert{
    width:585px;
    height:42px;
    background-image: linear-gradient(to right, rgb(219, 255, 243,0), rgb(219, 255, 243,1), rgb(219, 255, 243,0));
}
.alert-message{
    color:rgb(44, 143, 110);
    font-size: larger;
    font-weight: 700;
}