.SearchMode{
    font-size: 13pt;
    width:115px;
    height:180px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: row;

}

.SearchMode-checkboxes{
    text-align: left;
    line-height: 28.5px;
    padding-left:10px;
}